
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Hubballi&family=M+PLUS+Rounded+1c:wght@100;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====THR ROOT THE CONTAIN ALL THE COLORS IN THE PAGE =======  */
 
:root {
    --clr-bg: #09091b;
    --clr-primary-050: #94b9f4;
    --clr-primary-100: #5394fd;
    --clr-primary-200: #0444f6;
    --clr-navbar-bg: #0b0a10;
    --clr-scrollbar-bg: #060613;
    --clr-scrollbar-knob: #242433;
    --clr-scrollbar-knob-active: #2b2b3b;
    --clr-search-bg: #000000fa;
    --clr-search-results-border: #ffffff12;
    --clr-exp-beginner: #78c02a;
    --clr-exp-intermediate: #ffb300;
    --clr-exp-advanced: #ee423f;
    --clr-snippet-preview-bg: #0d0d16;
    --clr-quote-border: #8696c1;
    --clr-table-border: #5c5e6a;
    --clr-el-01dp: #ffffff0d;
    --clr-el-01db: #141424;
    --shd-el-01dp: 0 1px 2px #0000003d,0 1px 3px #0000001f;
    --clr-el-02dp: #ffffff14;
    --clr-el-02db: #1b1b2c;
    --shd-el-02dp: 0 2px 4px #00000026,0 3px 6px #0000001f;
    --clr-el-03dp: #ffffff1c;
    --clr-el-03db: #242433;
    --shd-el-03dp: 0 3px 6px #0000001a,0 10px 20px #00000026;



}



:root {
    --clr-code-bg: #20273c;
    --clr-code-border: #374367;
    --clr-code-txt: #d7def9;
    --clr-kbd-bg: #262736;
    --clr-kbd-txt: #dadae2;
    --clr-kbd-border: #616475;
    --clr-code-block-txt: #e57171;
    --clr-code-selection: #041248;
    --clr-code-scrollbar-bg: #181d2a;
    --clr-code-scrollbar-knob: #2a3041;
    --clr-code-scrollbar-knob-active: #33394d;
    --clr-tkn-a: #7f98a4;
    --clr-tkn-b: #bdbdbd;
    --clr-tkn-c: #65b5f6;
    --clr-tkn-d: #ff9100;
    --clr-tkn-e: #c4e0a3;
    --clr-tkn-f: #cd92d8;
    --clr-tkn-g: #25c5da;
    --clr-tkn-h: #e57171
}
/* ===== PAGE BODY=======  */
body{
    background-color:  var(--clr-bg) !important;
}
   




/* ================  NAVBAR =================  */
.navbar_css{ 
    background-color: var( --clr-code-selection) !important;
color: var(--bs-white);
border-top: 2px solid var(--clr-bg);

}
.nav-item{
  font-size: 20px;
  font-family: 'Fugaz One', cursive;
  font-weight: 500px;
}
.nav-link{
    color: var(  --clr-code-txt) !important;

}
.contact_link:visited{
    color: var(  --clr-exp-intermediate) !important ;
}
.serch_bg{
    background-color: var(--clr-search-bg) !important;
    color: var(--clr-exp-intermediate) !important;
}

.serch_bg  :hover{
 border: 1px solid var(--clr-exp-intermediate) !important; 
}

.form_beckground{
  background-color: #0444f6;
}


/* ================  FIRST_CONTENT=================  */
.login-block {
    margin: 30px auto;
    min-height: 93.6vh-;
    margin-top: 70px;
}

.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 569px !important
}

.contact-us {
    font-size: 24px;
    font-weight: 300
}

.respond {
    font-size: 15px !important;
    font-weight: 200;
    margin-top: -6px
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.card .card-block {
    padding: 1.25rem
}

.f-56 {
    font-size: 56px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 100px;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
   border: none;
   border-bottom:  1px solid var(--clr-bg);
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: rgb(80, 1, 1);
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}


.name_email{
    height: auto;
}

.message{
    height: 150px !important;



}


/* ================Social Icons =================  */
.Social_icons{
    font-size: 25px;
    margin: 10px;
}








