
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Hubballi&family=M+PLUS+Rounded+1c:wght@100;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====THR ROOT THE CONTAIN ALL THE COLORS IN THE PAGE =======  */
 
:root {
    --clr-bg: #09091b;
    --clr-primary-050: #94b9f4;
    --clr-primary-100: #5394fd;
    --clr-primary-200: #0444f6;
    --clr-navbar-bg: #0b0a10;
    --clr-scrollbar-bg: #060613;
    --clr-scrollbar-knob: #242433;
    --clr-scrollbar-knob-active: #2b2b3b;
    --clr-search-bg: #000000fa;
    --clr-search-results-border: #ffffff12;
    --clr-exp-beginner: #78c02a;
    --clr-exp-intermediate: #ffb300;
    --clr-exp-advanced: #ee423f;
    --clr-snippet-preview-bg: #0d0d16;
    --clr-quote-border: #8696c1;
    --clr-table-border: #5c5e6a;
    --clr-el-01dp: #ffffff0d;
    --clr-el-01db: #141424;
    --shd-el-01dp: 0 1px 2px #0000003d,0 1px 3px #0000001f;
    --clr-el-02dp: #ffffff14;
    --clr-el-02db: #1b1b2c;
    --shd-el-02dp: 0 2px 4px #00000026,0 3px 6px #0000001f;
    --clr-el-03dp: #ffffff1c;
    --clr-el-03db: #242433;
    --shd-el-03dp: 0 3px 6px #0000001a,0 10px 20px #00000026;



}



:root {
    --clr-code-bg: #20273c;
    --clr-code-border: #374367;
    --clr-code-txt: #d7def9;
    --clr-kbd-bg: #262736;
    --clr-kbd-txt: #dadae2;
    --clr-kbd-border: #616475;
    --clr-code-block-txt: #e57171;
    --clr-code-selection: #041248;
    --clr-code-scrollbar-bg: #181d2a;
    --clr-code-scrollbar-knob: #2a3041;
    --clr-code-scrollbar-knob-active: #33394d;
    --clr-tkn-a: #7f98a4;
    --clr-tkn-b: #bdbdbd;
    --clr-tkn-c: #65b5f6;
    --clr-tkn-d: #ff9100;
    --clr-tkn-e: #c4e0a3;
    --clr-tkn-f: #cd92d8;
    --clr-tkn-g: #25c5da;
    --clr-tkn-h: #e57171
}
/* ===== PAGE BODY=======  */
body{
    background-color:  var(--clr-bg) !important;
}
   



/* ================  NAVBAR =================  */
.navbar_css{ 
        background-color: var( --clr-code-border) !important;
    color: var(--bs-white);
    border-top: 2px solid var(--clr-bg);

}
.nav-item{
  font-size: 20px;
  font-family: 'Fugaz One', cursive;
  font-weight: 500px;
  
}
.nav-link{
    color: var( --clr-code-txt) !important;
}
.home-link{
    color: var(  --clr-exp-intermediate) !important ;
}
.serch_bg{
    background-color: var(--clr-search-bg) !important;
    color: var(--clr-exp-intermediate) !important;
}

.serch_bg  :hover{
 border: 1px solid var(--clr-exp-intermediate) !important; 
}
/* ---------- The end of the navbar -----  */








/* ================  FIRST_CONTENT=================  */



    /*first content   */
    .first_contact{
        background-color: var( --clr-bg) !important;
        margin-top: 50px;
    }
    
    /*first  content background  */
    .bg{
        background-color:   var(  --clr-kbd-bg) !important;;
        color: var( --clr-code-txt) !important;
      
        
        
    }
   
    /* card title  */
    .title{
        color: var( --clr-code-txt) ;
    }


    .service-container {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    
    }
    
    .service-container .icon {
      margin-top: 5%;
      font-size: 38px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    
    }
    
    .service-container .number-icon .icon-2 {
      height: 70px;
      width: 70px;
      line-height: 80px;
      border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
      border-color: #f89d36 !important;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    
    }
    
    .service-container .number-icon .icon-2 i {
      font-size: 30px;

    }
    
    .service-container .number-icon .number {
      position: absolute;
      top: 0;
      right: 70px;
      left: 0;
      height: 35px;
      width: 35px;
      margin: 0 auto;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-container .number-icon .number span {
      line-height: 30px;
    }
    
    .service-container .content .number {
      font-size: 40px;
    }
    
    .service-container .content .title {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      color: var(  --clr-code-txt);
    }
    
    .service-container.hover-bg {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-container.hover-bg .smooth-icon {
      position: absolute;
      bottom: -40px;
      right: -20px;
      font-size: 60px;
      -webkit-transition: all 0.8s ease;
      transition: all 0.8s ease;
    }
    
    .service-container.hover-bg:hover {
        color: #fff;
    }
    
    .service-container.hover-bg:hover .content .title {
      color:  var(--clr-navbar-bg) !important;
    }
    
    .service-container.hover-bg:hover .content .serv-pera {
      color: #fafafb !important;
      
    }
    
    .service-container.hover-bg:hover .smooth-icon {
      font-size: 100px;
      opacity: 0.2;
      bottom: -20px;
      right: 10px;
      color: var(--clr-bg) !important;
      background-color: var(--clr-navbar-bg);
    }
    
    .service-container:hover {
      -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
              box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
    }
    
    .service-container:hover .icon {
      color: #f89d36;
      -webkit-animation: mover 1s infinite alternate;
              animation: mover 1s infinite alternate;
    }
    
    .service-container:hover .number-icon .icon-2 {
      background-color: #f89d36;
      border-radius: 50% !important;
    }
    
    .service-container:hover .number-icon .icon-2 i {
      color: #ffffff !important;
    }
    
    .service-container:hover .number-icon .number {
      color: #ffffff;
      background: #f89d36 !important;
      border-color: #ffffff !important;
    }
    
    .service-container:hover .content .title {
      color: #f89d36;
    }
    
    .service-container a:hover,
    .service-container a .title:hover {
      color: #000 !important;
    }
    
    @-webkit-keyframes mover {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
      }
    }
    
    @keyframes mover {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
      }
    }
    
    .service-wrapper {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      color:  var(--clr-navbar-bg);
      background-color: var(--clr-navbar-bg);
    }
    
    .service-wrapper .icon {
      width: 60px;
      height: 60px;
      line-height: 45px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-wrapper .content .title {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-weight: 500;
    }
    
    .service-wrapper .big-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.05;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-wrapper:hover {
      -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
              box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
      background: #ffffff;
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      border-color: transparent !important;
    }
    
    .service-wrapper:hover .icon {
      background: #0062ff !important;
      color: #ffffff !important;
    }
    
    .service-wrapper:hover .big-icon {
      z-index: -1;
      opacity: 0.1;
      font-size: 160px;
    }
    
    .text-custom {
        color: #0062ff !important;
    }
    
    .uim-svg {
        display: inline-block;
        height: 1em;
        vertical-align: -0.125em;
        font-size: inherit;
        fill: var(--uim-color, currentColor);
    }
    
    